html {
  box-sizing: border-box;
}

* {
  transition: .3s ease;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button,
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: $primary-color;
  background-color: $secondary-color;
  @include montserrat-osn;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
  border: 1px solid #FF9900;
  background-color: #FF9900;
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;

  &:hover {
    background-color: transparent;
    border: 1px solid #FF9900;
  }
}

.search {
  max-width: 388px;
  width: 100%;
  height: 41px;
  position: relative;

  &-inp {
    font: {
      family: $primary-font;
      size: 14px;
      weight: 500;
    }

    line-height: 25px;
    max-width: 388px;
    width: 100%;
    height: 41px;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    outline: 0;
    text-overflow: ellipsis;
    padding: 0 104px;

    &[type=text]::placeholder {
      color: #000;
    }
  }

  &-btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 13px;
    top: 6px;
    border: none;
    background-color: transparent;

    & img {
      width: 28px;
      height: 28px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 33px;
  margin: 0 auto;
  max-width: 359px;
  width: 100%;

  .pagination__list {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    max-width: 330px;
    width: 100%;
  }

  &__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: $primary-color;
    position: relative;

    &:hover::after {
      content: url(../images/hover.png);
      position: absolute;
      top: -8px;
      left: -12px;
      width: 100%;
      height: 100%;
    }
  }

  &__link--active {
    position: relative;

    &::before {
      content: url(../images/hover.png);
      position: absolute;
      top: -8px;
      left: -12px;
      width: 100%;
      height: 100%;
    }
  }

  span.pagination__link--active:hover::after {
    content: none;
  }

  &__arrows {
    display: flex;
    align-items: center;
  }
}

.page__404 {
  background-image: url(../images/404-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;


  &-inner {
    padding: 146px 0 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  &-title {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: capitalize;
    color: #FFBF60;
    max-width: 600px;
    width: 100%;
    z-index: 5;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 80px;
    text-align: center;
    color: $primary-color;
    z-index: 5;
  }

  &-btn {
    width: 165px;
    height: 39px;
    margin: 0 auto;
    display: block;
    z-index: 5;

    & a {
      color: $primary-color;
    }
  }
}