html {
  box-sizing: border-box;
}

* {
  transition: .3s ease;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button,
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: $primary-color;
  background-color: $secondary-color;
  @include montserrat-osn;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-family: $primary-font;
  font-weight: 900;
  font-size: 46px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
}

button,
.btn {
  cursor: pointer;
  border: 1px solid #FF9900;
  background-color: #FF9900;
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 7px 24px;
  white-space: nowrap;

  &:focus-visible {
    border: none;
  }

  &:hover {
    background-color: transparent;
    border: 1px solid #FF9900;
  }
}

.search {
  max-width: 388px;
  width: 100%;
  height: 41px;
  position: relative;

  &-inp {
    font: {
      family: $primary-font;
      size: 14px;
      weight: 500;
    }

    line-height: 25px;
    max-width: 388px;
    width: 100%;
    height: 41px;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    outline: 0;
    text-overflow: ellipsis;
    padding: 0 104px;

    &[type=search]::placeholder {
      color: #000;
    }
  }

  &-btn {
    cursor: pointer;
    padding: 0;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 13px;
    top: 6px;
    border: none;
    background-color: transparent;

    & img {
      width: 28px;
      height: 28px;
    }
  }
}

.slot__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 185px;
  height: 185px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 1px;

  &:hover {
    box-shadow: 0px 6px 20px rgba(21, 22, 30, 0.3);
  }

  &-img {
    max-width: 185px;
    height: 111px;

    img {
      max-width: 185px;
      width: 100%;
      height: 111px;
      border-radius: 1px 1px 0px 0px;
    }
  }

  &-info {
    width: 100%;
    height: 100%;
    padding: 10px 10px 13px;
  }

  &-title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 3px;
    color: #0B112A;
    max-width: 164px;
    width: 100%;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
  }

  &-comp {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #828282;
  }

  .star {
    display: flex;
    align-items: center;
  }
}

.post {
  max-width: 585px;
  width: 100%;
  border-radius: 6px;
  background-color: $primary-color;

  &-info {
    padding: 10px 24px 22px 23px;
    position: relative;
    top: -9px;

  }

  & img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-width: 585px;
    width: 100%;
    max-height: 316px;
  }

  &-title {
    font: {
      family: $primary-font;
      size: 18px;
      weight: 700;
    }

    line-height: 26px;
    color: #131b3c;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }

  &-date {
    font: {
      family: $primary-font;
      size: 12px;
      weight: 400;
    }

    line-height: 18px;
    letter-spacing: 0.02em;
    color: #828282;
  }

  &-text {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 400;
    }

    line-height: 26px;
    letter-spacing: 0.01em;
    color: #0B112A;
    margin-bottom: 3px;
    height: 78px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-links {
    display: flex;
    justify-content: end;
  }

  &-link {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 400;
    }

    line-height: 25px;
    letter-spacing: -0.02em;
    color: #FF9900;

    &+& {
      text-decoration: underline;
      margin-left: 13px;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &-more {
    text-decoration: underline;
    margin-left: 13px;

    &:hover {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  }
}

.free-slot__card {
  display: flex;
  width: 202px;
  background: linear-gradient(358.82deg, rgba(255, 255, 255, 0.5) -39.21%, #FFFFFF 19.05%);
  border: 1.08742px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2.17484px;

  &-inner {
    padding: 1px 1px 28px 1px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -9px;
  }

  & img {
    max-width: 198px;
    width: 100%;
    max-height: 130.26px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin-bottom: 27.72px;
  }

  &-name {
    font-family: $secondary-font;
    max-width: 180px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #0B112A;
    margin-bottom: 25px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 33px;
  margin: 0 auto;
  max-width: 359px;
  width: 100%;

  .pagination__list {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    max-width: 330px;
    width: 100%;
  }

  &__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: $primary-color;
    position: relative;

    &:hover::after {
      content: url(../images/hover.png);
      position: absolute;
      top: -8px;
      left: -12px;
      width: 100%;
      height: 100%;
    }
  }

  &__link--active {
    position: relative;

    &::before {
      content: url(../images/hover.png);
      position: absolute;
      top: -8px;
      left: -12px;
      width: 100%;
      height: 100%;
    }
  }

  span.pagination__link--active:hover::after {
    content: none;
  }

  &__arrows {
    display: flex;
    align-items: center;
  }
}

.page__404 {
  background-image: url(../images/404-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 100vh;


  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
  }

  &-title {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: capitalize;
    color: #FFBF60;
    max-width: 600px;
    width: 100%;
    z-index: 5;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 80px;
    text-align: center;
    color: $primary-color;
    z-index: 5;
  }

  &-btn {
    margin: 0 auto;
    display: block;
    z-index: 5;

    & a {
      color: $primary-color;
    }
  }
}

.footer {
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 19% bottom;
  filter: grayscale(1);

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__row {
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 57px;
      margin-bottom: 59px;
    }

    &-comp-img {
      height: 43px;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-comp {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &-social {
      display: flex;
      align-items: center;
      margin-left: 20px;

      & p {
        font: {
          family: $primary-font;
          size: 24px;
          weight: 600;
        }

        line-height: 30px;
        margin-right: 38px;
      }

      & a {
        position: relative;
        top: 4px;
      }

      & a+a {
        margin-left: 35px;
        margin-right: 12px;
      }
    }

    &-middle {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      .footer__logo {
        margin-left: 11px;
        margin-right: 15px;
      }
    }

    &-columns {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
    }

    &-column:last-child {
      margin-right: 120px;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #B8B8B8;
      padding-bottom: 30px;

      font: {
        family: $primary-font;
        size: 12px;
        weight: 600;
      }

      & ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
      }
    }
  }

  &__link {
    font: {
      family: $primary-font;
      size: 14px;
      weight: 400;
    }

    line-height: 26px;
    letter-spacing: 0.02em;

    & a {
      cursor: pointer;
      color: $primary-color;
    }

    &-title {
      font: {
        family: $primary-font;
        size: 16px;
        weight: 700;
      }

      line-height: 25px;
      text-transform: capitalize;
      margin-bottom: 6px;
    }

    &-bott {
      white-space: nowrap;
      margin-right: 25px;

      & a {
        color: #B8B8B8;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & span {
    height: 1px;
    width: 100%;
    background: #B8B8B8;
    margin-bottom: 28px;
  }
}

.search__main-btn img,
.search-btn img:focus-visible {
  outline: none;
}

.search__main-btn:hover {
  border: none;
}