@media screen and (max-width: 1230px) {
  .welcome {
    .why {
      &__text-items {
        flex-direction: column;
      }

      &__text-item {
        padding-bottom: 13px;
        max-width: 100%;
        margin: 0;

        &:nth-child(even) {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    top: 3px;

    &::after {
      height: 96px;
      background: linear-gradient(266.19deg, #0B112A 4.45%, rgba(11, 17, 42, 0.8) 80.66%);
    }

    &__logo-img {
      content: url(../images/mobile-top-logo.png);
    }

    &__menu {
      display: none;

      &-open {
        display: inline-block;
      }

      &-list {
        flex-direction: column;
        align-items: flex-start;
        max-width: 400px;
        width: 100%;
        position: absolute;
        left: 0;
      }
    }

    &__lang {

      &-img {
        margin-left: 0;
      }

      & span {
        display: none;
      }
    }
  }

  .MobileMenu {
    display: block;
  }

  .top__page-inner {
    padding-top: 108px;
  }

  .casino {
    padding-top: 164px;
  }

  .reviews {
    padding-top: 162px;
  }

  .page__404 {
    &-inner {
      padding-top: 166px;
    }
  }
}

@media screen and (max-width: 1177px) {
  .footer__row-top {
    flex-direction: column;
  }

  .footer__row-comp {
    margin-bottom: 27px;
  }

  .footer__row-social {
    margin-left: 0;
  }

  .footer__row-top {
    margin-bottom: 34px;
  }

  .footer__logo {
    display: none;
  }

  .footer__row-columns {
    width: 100%;
    justify-content: space-between;
  }

  .footer__row-column {
    width: 196px;
  }

  .footer__row-column:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1060px) {
  .footer__row-bottom {
    flex-direction: column-reverse;

    & ul {
      margin-left: 0;
    }
  }

  .casino__start-banner {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 880px) {
  .post {
    max-width: 585px;
    width: 100%;
    margin: 0 auto;
  }

  .footer__row-comp img {
    margin-bottom: 20px;
  }

  .footer__row-column+.footer__row-column {
    margin-left: 0;
  }

  .review {

    &__inner {
      flex-direction: column;
    }

    &__block {
      &-text {
        height: 407px;
        overflow: hidden;
      }

      &-left {
        margin-top: 34px;
      }
    }

    &__more-btn {
      display: block;
    }

    &__atr {
      margin-left: 0;

      &-inner {
        width: 100%;
      }

      &-row {
        justify-content: flex-start;

        &+&::before {
          width: 100%;
        }
      }

      &-info {
        max-width: max-content;
      }
    }

    .top__casino {
      padding-top: 25px;
    }
  }

  .comments__item-text p {
    left: 0;
    padding-right: 0;
  }

  .casino {
    &__inner {
      flex-direction: column;
    }

    &__info {
      margin-left: 0;
      width: 100%;
    }

    &__start {
      margin-bottom: 11.15px;

      &-banner {
        max-width: none;
        margin-bottom: 30px;
      }
    }

    &__bonus {
      &-row {
        background: transparent;
        padding-bottom: 0;
        margin-bottom: 23px;
      }

      &-claim {
        width: 270px;
      }

      &-list {
        width: 100%;

        &::before {
          width: 100%;
        }
      }
    }

    &__items {
      gap: 8px;
    }

    &__item {
      width: 100%;
    }
  }

  .casino__list {
    .line {
      bottom: -8px;
    }
  }

  .line {
    bottom: -10px;
  }

  .reviews {
    &__inner {
      flex-direction: column;
      position: relative;
    }

    &__info {
      padding-bottom: 4px;
      margin-bottom: 25px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -150px;
        width: 102%;
        height: calc(100% + 150px);
        z-index: -1;
        background: linear-gradient(0.36deg, rgba(11, 17, 42, 0.4) -0.46%, rgba(11, 17, 42, 0.8) 90.74%);
      }
    }

    .top__casino {
      margin-left: 0;
    }

    .top__casino-card {
      margin: 0 auto;
    }
  }

  .win__title {
    padding-bottom: 25px;
  }

  .win__inner {
    flex-direction: column;
    align-items: center;

    & img {
      margin-bottom: 42px;
    }
  }

  .win__text {
    margin: 0;

    & p {
      margin: 0;
    }

    & p+p {
      margin-top: 12px;
    }
  }

  .faqs {
    padding-top: 71px;
  }
}

@media screen and (max-width: 850px) {
  .welcome {
    &__img {
      width: 595px;
    }

    &__title {
      font-size: 79px;
      margin-bottom: 45px;
    }

    &__subtitle {
      font-size: 25px;
    }

    &__items {
      gap: 50px;
    }
  }

  .search-inp {
    padding: 0 39px 0 17px;
  }

  .contact__form-box-right {
    margin-left: 25px;
  }
}

@media screen and (max-width: 820px) {
  .breadcrumbs {
    width: 100%;
  }

  .casino {
    &__inner {
      flex-direction: column;
    }

    &__info {
      margin-left: 0;
      width: 100%;
    }

    &__start {
      margin-bottom: 11.15px;

      &-banner {
        margin-bottom: 30px;
      }
    }

    &__bonus {
      &-row {
        background: transparent;
        padding-bottom: 0;
        margin-bottom: 23px;
      }

      &-claim {
        width: 270px;
      }

      &-list {
        width: 100%;

        &::before {
          width: 100%;
        }
      }
    }

    &__items {
      gap: 8px;
    }

    &__item {
      width: 100%;
    }
  }

  .comments__item-text {
    max-height: 180px;
    overflow: hidden;
  }

  .comments__item-like {
    display: none;
  }

  .comments__item-more {
    display: block;
  }

  .comments__item {
    padding-bottom: 62px;
  }
}

@media screen and (max-width: 768px) {

  .comments-title,
  .contact__title,
  .popular-slotty__title,
  .review__block-title,
  .casino__top--title,
  .win__title,
  .faqs__title {
    font-size: 40px;
    line-height: 48px;
  }

  .comments__item {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contact {
    &__form {
      &-box {
        flex-direction: column;

        &-right {
          margin: 13px 0 0px;
        }
      }

      &-textarea {
        max-width: 100%;
      }

      &-btn {
        display: block;
        margin: 0 auto;
      }

      &-input {
        &-name {
          width: 100%;
        }

        &-mail {
          width: 100%;
        }
      }
    }
  }

  .reviews__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color: #f90;
    margin-bottom: 24px;
  }

  .reviews__text-block {
    margin-bottom: 10px;

    .reviews__text+.reviews__text {
      margin-top: 10px;
    }
  }

  .reviews__list-title {
    margin-bottom: 11px;
  }

  .line {
    bottom: -9px;
  }

  .faqs {
    padding-top: 48px;
  }

  .faqs__item-title {
    line-height: 24px;
  }

  .faqs__item {
    padding: 0 28px;
  }

  .adv-search__item {
    flex-direction: column;

    .slot__card {
      margin-bottom: 22px;
    }

    .adv-search__item-wrapper {
      margin: 0;
      align-items: center;
      width: 100%;
    }

    .adv-search__item+.adv-search__item {
      margin-top: 87px;
    }

    .adv-search__item-name {
      text-align: center;
    }

    .adv-search__item-info {
      text-align: center;
    }

    .adv-search__item-feat {
      text-align: center;
    }
  }

  .page__404-title {
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 15px;
  }

  .page__404-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
  }
}

@media screen and (min-width: 769px) {
  .casino__card:nth-child(5n) {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 651px) {
  .casino__card:nth-child(4n) {
    margin: 0 0 30px 0;
  }

  .casino__card {
    width: calc(25% - 15px);
  }
}

@media screen and (max-width: 726px) {
  .faqs__items {
    flex-direction: column;

  }

  .faqs__item {
    width: 100%;

    &:last-child {
      margin: 0;
    }
  }
}

@media screen and (max-width: 650px) and (min-width: 491px) {
  .casino__card:nth-child(3n) {
    margin: 0 0 30px 0;
  }

  .casino__card {
    width: calc(33.33% - 13.33px);
  }
}

@media screen and (max-width: 490px) {
  .casino__card:nth-child(2n) {
    margin: 0 0 30px 0;
  }

  .casino__card {
    width: calc(50% - 10px);
  }

  .casino__top-cont {
    justify-content: flex-start;
  }

  .reviews__list-li+.reviews__list-li {
    margin-top: 10px;
  }
}


@media screen and (max-width: 740px) {
  .welcome {
    &__inner {
      padding-top: 181px;
    }

    &__img {
      width: 490px;
      margin-bottom: 27px;
    }

    &__title {
      font-size: 65px;
      margin-bottom: 45px;
    }

    &__items {
      gap: 40px;
    }

    .why__title {
      font-size: 40px;
      line-height: 48px;
      text-align: start;
      margin-bottom: 15px;
    }
  }

  .table {

    &__title {
      font-size: 40px;
      line-height: 48px;
      text-align: start;
      margin-bottom: 31px;
    }

    &__review {
      display: none;

      &-inf {
        display: none;
      }
    }

    &__games {
      display: none;

      &-inf {
        display: none;
      }
    }

    &__deposit {
      display: none;

      &-inf {
        display: none;
      }
    }

    &__play {
      border-radius: 2px 12px 2px 2px;

      &-inf {
        border-radius: 2px 2px 12px 2px !important;
      }
    }

    table tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
    }

    tbody {
      margin: 0 auto;
    }
  }

  .post__section {
    &-title {
      font-size: 40px;
      line-height: 48px;
      text-align: start;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 736px) {

  .recent-bonus {
    &__inner {
      padding: 22px 23px 29px;
    }

    &__item {
      margin-bottom: 12px;

      &-wrapper {
        flex-direction: column;
      }
    }
  }

  .comments__item-prof {
    flex-direction: column;
  }

  .footer__row-columns {
    justify-content: center;
  }

  .line {
    bottom: -7px;
  }
}

@media screen and (max-width: 650px) {
  .welcome {
    &__img {
      width: 427px;
      margin-bottom: 24px;
    }

    &__title {
      font-size: 58px;
      margin-bottom: 27px;
    }

    &__items {
      gap: 23px;
      flex-direction: column;
    }

    &__item p {
      width: 229px;
    }
  }

  .post__section {
    &-title {
      text-align: start;
    }
  }

  .top__page-inner {
    flex-direction: column;
    align-items: start;
    padding-bottom: 28px;
  }

  .breadcrumbs {
    margin-bottom: 10px;
  }

  .casino {
    padding-top: 212px;
  }


  .popular-slotty__title {
    font-size: 32px;
    line-height: 38px;
  }

  .popular-slotty__items {
    justify-content: space-evenly;
  }

  .comments__item-prof-name {
    font-size: 20px;
  }

  .comments__item-text p {
    font-size: 14px;
  }

  .contact__form {
    padding: 36px 35px 61px 35px;
  }

  .reviews {
    padding-top: 200px;
  }

  .search__container {
    justify-content: flex-end;
  }

  .search__container .search {
    margin: 32px 23px 31px;
    margin-top: 32px;

    .search-inp {
      background: rgba(255, 255, 255, 1);
    }
  }

  .page__404-inner {
    padding-top: 140px;
  }

  .page__404-title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 7px;
  }

  .page__404-subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 550px) {
  .welcome {
    &__img {
      width: 380px;
      margin-bottom: 21px;
    }

    &__title {
      font-size: 52px;
      margin-bottom: 27px;
    }

    &__subtitle {
      font-size: 23px;
    }

    &__btn-gr {
      display: flex;
      flex-direction: column;

      & .welcome__btn-play {
        font-size: 14px;
        line-height: 25px;
        padding: 8px 20px;
      }

      & .welcome__btn-real {
        font-size: 14px;
        line-height: 25px;
        margin-top: 23px;
        padding: 8px 12px;
        margin-left: 0;
      }
    }

    .why__title {
      font-size: 37px;
      line-height: 44px;
    }

  }

  .table__title {
    font-size: 37px;
    line-height: 44px;
  }

  .post__section-title {
    font-size: 37px;
    line-height: 44px;
  }

  .reviews__title {
    font-size: 26px;
    line-height: 33px;
  }

  .top__casino-title {
    margin-bottom: 19px;
  }

  .reviews__inner {
    padding-bottom: 56px;
  }

  .win__text {
    & p+p {
      margin-top: 10px;
    }
  }
}


@media screen and (max-width: 500px) {
  .welcome {
    &__img {
      width: 284px;
      margin-bottom: 14px;
    }

    &__title {
      font-size: 38px;
      margin-bottom: 23px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .footer__row-comp {
    display: none;
  }

  .footer__row-comp-mob {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    & img {
      margin-right: 30px;
      margin-bottom: 27px;
    }
  }

  .comments__inner {
    padding-top: 49px;
    padding-bottom: 56px;
  }

  .comments__items {
    margin-bottom: 38px;
  }

  .comments__item {
    padding-top: 18px;
    padding-right: 29px;
    padding-left: 28px;
  }

  .comments__item-more {
    right: 30px;
  }

  .comments-btn {
    display: none;
  }

  .comments-more {
    display: block;
  }

  .comments-title,
  .contact__title,
  .popular-slotty__title,
  .review__block-title,
  .casino__top--title,
  .win__title,
  .faqs__title {
    font-size: 36px;
    line-height: 40px;
  }

  .casino__list {
    padding-top: 41px;
  }

  .casino__top--title {
    margin-bottom: 27px;
  }

  .footer__row-social {
    margin: 0 auto;

    & img {
      transform: scale(0.8);
    }

    & p {
      margin-right: 22px;
    }
  }

  .line {
    bottom: -5px;
  }

  .footer__row-social a+a {
    margin-left: 17px;
  }

  .footer__row-columns {
    row-gap: 22px;
    column-gap: 45px;
  }

  .footer__link-title,
  .footer__link {
    font-size: 12px;
    line-height: 18px;
  }

  .footer__row-column {
    width: 165px;
  }

}

@media screen and (max-width: 450px) {
  .welcome .why__title {
    font-size: 32px;
    line-height: 38px;
  }

  .table {
    &__title {
      font-size: 32px;
      line-height: 38px;
    }

    & td {
      height: 63px;

      & img {
        width: 47px;
      }
    }

    &__bonus-inf {
      font: {
        size: 12px;
        weight: 600;
      }

      line-height: 18px;
      letter-spacing: 0.01em;
    }

    &__btn {
      display: none;

      &-mob {
        display: block;
      }
    }

  }

  .casino__bonus-btn {
    width: 173px;
    height: 41px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.02em;
    margin-bottom: 7px;
  }

  .casino__bonus-more {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
  }

  .post {
    max-width: 345px;

    &-info {
      padding: 10px 14px 26px 15px;
    }

    &-title {
      margin-bottom: 7px;
    }
  }

  .post-text,
  .post-links {
    display: none;
  }

  .casino {
    &__info {
      padding: 28px 19px 12px 10px;
    }

    &__bonus {

      &-row {
        flex-wrap: wrap;
        margin-bottom: 0;
      }

      &-col {
        margin: 8px 0 29px;
      }

      &-claim {
        margin: 0 auto;

        &::before {
          content: none;
        }
      }

      &-inf+&-inf {
        &::before {
          top: -2px;
        }
      }

      &-up,
      &-txt,
      &-list {
        display: none;
      }
    }
  }

  .recent-bonus__item-time {
    margin-right: 30px;
  }

  .comments-title,
  .contact__title,
  .popular-slotty__title,
  .review__block-title,
  .casino__top--title,
  .win__title,
  .faqs__title {
    text-align: left;
  }

  .popular-slotty__items {
    justify-content: space-between;
  }

  .popular-slotty__btn {
    background-color: #f90;
  }

  .footer__row-columns {
    column-gap: 0;
  }

  .footer__row-comp-mob img {
    margin-right: 19px;
  }

  .footer__row-social p {
    font-size: 20px;
    line-height: 24px;
  }

  .slot__card {
    width: 162px;
    height: 187px;

    &-img {

      img {
        width: 160px;
        height: 111px;
      }
    }

    &-info {
      padding: 14px 9px 17px 10px;
    }

    &-title {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 15px;
      line-height: 16px;
      height: 16px;
      margin-bottom: 7px;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
    }

    .star {
      display: flex;
      align-items: center;
    }
  }

  .adv-search__title {
    font-size: 20px;
    line-height: 24px;
  }

  .adv-search__item-name {
    margin-bottom: 7px;
  }

  .adv-search__item-feat {
    height: auto;
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 375px) {
  .post {
    max-width: 335px;
  }

  .post__section {
    &-title {
      margin-bottom: 7px;
    }

    &-info {
      padding-bottom: 26px;
    }

    &-btn {
      display: none;
    }
  }

  .casino {
    margin-bottom: 36px;

    &__items {
      gap: 5px;
      margin-bottom: 19px;
    }

    &__item {
      max-width: 70px;
      height: 56px;
    }

    &__bonus-title {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  .casino__bonus-inf+.casino__bonus-inf::before {
    top: 6px;
  }

  .casino__item-num {
    font-size: 20px;
    line-height: 24px;
  }

  .casino__item {
    font-size: 10px;
    line-height: 13px;
  }

  .review {
    padding-top: 34px;

    & img {
      display: none;
    }

    &__block {
      &-left {
        margin-top: 0;
      }

      &-title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 28px;
      }
    }

    &__atr {
      background: none;
      border: none;
      margin-top: 0;

      &-inner {
        padding: 0;
      }
    }
  }

  .recent-bonus {
    padding-top: 53px;
  }

  .recent-bonus__item-bottom {
    flex-direction: column;
    align-items: start;
  }

  .recent-bonus__item-time {
    margin-right: 0;
  }

  .popular-slotty__items {
    gap: 10px;
  }

  .comments-title,
  .contact__title,
  .popular-slotty__title,
  .review__block-title,
  .casino__top--title,
  .comments-title,
  .win__title,
  .faqs__title {
    font-size: 32px;
    line-height: 38px;
  }

  .comments-title {
    margin-bottom: 22px;
  }

  .comments {
    &__item {
      padding: 18px 29px 62px 28px;

      &-top img {
        width: 56px;
        height: 61px;
      }

      &-prof-name {
        font-size: 16px;
        line-height: 30px;
      }

      &-prof-date {
        font-size: 9px;
        line-height: 13px;
        letter-spacing: -0.02em;
      }

      &-text p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
      }

      &-star-block span {
        display: none;
      }
    }

    &-btn {
      display: none;
    }

    &-more {
      display: block;
    }
  }

  .contact {
    padding: 28px 0 64px;

    &__form {
      padding: 34px 29px 30px;

      &-box {

        &-left {
          & img {
            margin-top: 36px;
          }
        }

        &-right {
          margin-top: 36px;
        }
      }

      &-name {
        &::after {
          top: 46px;
        }
      }

      &-mail {
        &::after {
          top: 46px;
        }
      }

      &-input {
        &-name {
          background: $primary-color;
          padding-right: 13px;
        }

        &-mail {
          background: $primary-color;
          padding-right: 13px;
        }
      }

      &-textarea {
        background: $primary-color;
        padding: 7px 13px;
        margin-bottom: 33px;
      }
    }

    & label {
      font-size: 20px;
      line-height: 24px;
    }

    &-mail {
      margin-top: 20px;
    }
  }

  .reviews__title {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__text-block,
  .reviews__list-title,
  .reviews__list-li {
    font-size: 12px;
    line-height: 18px;
  }

  .top__casino-title {
    font-size: 20px;
    line-height: 24px;
  }


  .casino__card {
    height: 203px;
  }

  .casino__card-inner {
    height: 203px;
    padding: 19px 10px 10px;
  }

  .casino__list {
    padding-top: 33px;
  }

  .faqs {
    padding: 33px 0 64px;

    &__title {
      margin-bottom: 31px;
    }

    &__item {
      min-height: 108px;

      &-top img {
        margin: 0;
      }
    }

    .faqs__item.open {
      .faqs__item-top {
        position: relative;
        top: 7px;
      }

      .faqs__item-text {
        top: 0;
      }
    }
  }

  .adv-search {
    padding-bottom: 54px;
  }

  .adv-search__item .slot__card {
    width: 162px;
    height: 185px;
  }

  .adv-search__item-name {
    font-size: 16px;
    line-height: 24px;
  }

  .adv-search__item-info {
    font-size: 12px;
    line-height: 18px;
  }

  .adv-search__item-feat {
    font-size: 12px;
    line-height: 18px;
  }

  .adv-search__item-btn {
    max-width: 173px;
    width: 100%;
    height: 41px;
  }

  .adv-search__item-char+.adv-search__item-char::before {
    top: 2px;
  }

  .page__404 {
    background-image: url(../images/404-bg-mob.png);
    background-position: center top;
  }

  .page__404-inner {
    padding: 125px 0 51px;
  }

  .page__404-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
  }

  .page__404-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 364px) {

  .casino {
    &__items {
      gap: 5px;
    }

    &__item {
      height: 46px;
    }
  }

  .slot__card {
    width: 140px;
    height: 187px;

    &-img {

      img {
        width: 138px;
        height: 111px;
      }
    }

    &-info {
      padding: 14px 9px 13px 10px;
    }

    &-title {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 15px;
      line-height: 16px;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
    }

    .star {
      display: flex;
      align-items: center;
    }
  }


}

@media screen and (max-width: 359px) {
  .welcome__title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .post {
    max-width: 300px;
  }

  .footer__link-title,
  .footer__link {
    text-align: center;
  }

  .adv-search__item-info {
    font-size: 11px;
    line-height: 15px;
  }

  .adv-search__item-feat {
    font-size: 11px;
    line-height: 15px;
  }

  .adv-search__item-char+.adv-search__item-char::before {
    top: 0px;
  }
}