@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';

.header {
  position: absolute;
  top: -3px;
  width: 100%;
  z-index: 15;

  &::after {
    content: '';
    background: linear-gradient(270.08deg, #0A1332 59.76%, rgba(10, 19, 50, 0) 115%);
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    z-index: 2;
  }

  &__menu {

    &-open {
      cursor: pointer;
      display: none;
      z-index: 2;
      border: none;
      background-color: transparent;
      text-align: start;
      margin-right: 28px;
      outline: none;

      &:hover {
        border: none;
        outline: none;
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;
      width: 915px;
    }

    &-link {
      position: relative;
      z-index: 2;

      font: {
        family: $primary-font;
        size: 14px;
        weight: 400;
      }

      line-height: 25px;
      letter-spacing: -0.05em;
      text-transform: capitalize;
      cursor: pointer;

      & a {
        font: {
          family: $primary-font;
          size: 14px;
          weight: 400;
        }

        line-height: 25px;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        cursor: pointer;
        color: $primary-color;
      }


      &:hover {
        &::after {
          content: url(../images/hover.svg);
          position: absolute;
          right: -14px;
          z-index: -1;
        }
      }

      &--active {
        &::after {
          content: url(../images/hover.svg);
          position: absolute;
          right: -14px;
          z-index: -1;
        }
      }
    }
  }

  &__lang {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;

    & span {
      width: 1px;
      height: 13px;
      background-color: $primary-color;
    }

    &-img {
      margin-left: 30px;
    }

    & button {
      font: {
        family: $primary-font;
        size: 16px;
        weight: 500;
      }

      line-height: 25px;
      letter-spacing: -0.05em;
      text-transform: capitalize;
      cursor: pointer;
      position: relative;
      color: $primary-color;
      border: none;
      background-color: transparent;
      margin-left: 7px;
      display: flex;
      align-items: center;

      & img {
        margin-left: 4px;
      }
    }
  }
}

.MobileMenu {
  z-index: 15;

  &__inner {
    position: fixed;
    overflow: auto;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    width: 375px;
    transition: all .4s ease-in-out;
    background: rgba(11, 17, 42, 1);
    transform: translateX(-400px);
  }

  &__wrapper {
    padding: 39px 23.89px 33px 28px;
  }

  &__inner--active {
    transform: translateX(0);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
  }

  &__close {
    cursor: pointer;
  }

  &-nam {
    margin-bottom: 30px;
  }

  &__link {

    & a {
      display: inline-block;
      width: 100%;
      padding: 16.5px 5px;
      margin-bottom: 0 !important;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 30px;
      line-height: 34px;
      color: $primary-color;
    }

    &:last-child {
      margin-bottom: 49px;
    }
  }

  & span {
    display: block;
    width: 313px;
    height: 1px;
    background-color: $primary-color;
    margin-bottom: 4px;
  }

  &__cop {
    font: {
      family: $primary-font;
      size: 10px;
      weight: 600;
    }

    line-height: 13px;
    letter-spacing: -0.02em;
    color: #B8B8B8;
  }
}

.welcome {
  background-image: url(../images/welcome-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__inner {
    padding-top: 223px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 43px;
    width: 686px;
  }

  &__title {
    font: {
      family: $primary-font;
      size: 92px;
      weight: 800;
    }

    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 67px;
  }

  &__subtitle {
    font: {
      family: $primary-font;
      size: 28px;
      weight: 500;
    }

    line-height: 25px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 32px;
  }

  & span {
    font-weight: 700;
  }

  &__items {
    display: flex;
    gap: 80px;
    margin-bottom: 67px;
  }

  &__item {
    display: flex;
    align-items: center;

    & p {
      font: {
        family: $primary-font;
        size: 14px;
        weight: 500;
      }

      line-height: 18px;
      letter-spacing: 0.02em;
      margin-left: 24px;
      width: 126px;
    }
  }

  &__btn {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 600;
    }

    line-height: 25px;
    letter-spacing: -0.02em;
    padding: 7px 24px;


    &+& {
      padding: 7px 22px 8px 23px;
      margin-left: 60px;
    }
  }

  .why {
    &__block {
      background-size: cover;
      padding: 102px 0 53px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(11, 17, 42, 0.95);
    }

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    &__title {
      font: {
        family: $primary-font;
        size: 46px;
        weight: 900;
      }

      line-height: 68px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 21px;
      max-width: 692px;
      width: 100%;
    }

    &__text {
      &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-item {
        max-width: 580px;
        margin-bottom: 13px;

        & p {
          font: {
            family: $primary-font;
            size: 16px;
            weight: 400;
          }

          line-height: 26px;
          letter-spacing: 0.01em;
        }

        &:nth-child(even) {
          margin-left: 36px;
        }
      }
    }
  }
}

.search__main {
  position: absolute;
  top: -34px;
  max-width: 740px;
  width: 100%;
  height: 68px;
  padding: 0 20px;

  &-inp {
    font: {
      family: $primary-font;
      size: 20px;
      weight: 500;
    }

    line-height: 25px;
    cursor: pointer;
    max-width: 700px;
    width: 100%;
    height: 68px;
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: 0;
    text-overflow: ellipsis;
    padding-left: 27px;
    padding-right: 95px;

    &[type=text]::placeholder {
      color: #000;
    }
  }

  &-btn {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 12px;
    border: none;
    background-color: transparent;
  }
}

.table {
  padding: 47px 0 93px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font: {
      family: $primary-font;
      size: 46px;
      weight: 900;
    }

    line-height: 66px;
    text-transform: uppercase;
    margin-bottom: 46px;
  }

  table {
    border-spacing: 3px 10px;
  }

  th,
  td {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
  }

  th {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 600;
    }

    line-height: 26px;
    letter-spacing: 0.02em;
    height: 37px;
  }

  td {
    height: 81px;
    border-radius: 2px;
    padding: 5px;
  }

  &__num {
    width: 59px;
    border-radius: 12px 2px 2px 2px;
  }

  &__casino {
    width: 121px;
    border-radius: 2px;

    &-inf {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__bonus {
    width: 248px;
    border-radius: 2px;

    &-inf {
      font-weight: 600;
      letter-spacing: 0.02em;
      color: #FF9900;
    }
  }

  &__play {
    width: 223px;
    border-radius: 2px;
  }

  &__review {
    width: 234px;
    border-radius: 2px;
  }

  &__games {
    width: 146px;
    border-radius: 2px;
  }

  &__deposit {
    width: 151px;
    border-radius: 2px 12px 2px 2px;

    &-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: space-between;
      justify-content: space-between;
      width: 122px;
      height: 52px;
      margin: 0 auto;
    }
  }

  &__btn {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 500;
    }

    line-height: 25px;
    text-transform: capitalize;
    width: 161px;
    height: 40px;

    & a {
      color: $primary-color;
    }
  }

  &__btn-mob {
    font: {
      family: $primary-font;
      size: 10.9466px;
      weight: 500;
    }

    line-height: 20px;
    text-transform: capitalize;
    width: 55.51px;
    height: 32.06px;
    border-radius: 7.81899px;
    margin: 0 auto;
    display: none;

    & a {
      color: $primary-color;
    }
  }
}

.post__section {
  padding: 72px 0 90px;
  background-color: $primary-color;

  &-title {
    font: {
      family: $primary-font;
      size: 46px;
      weight: 900;
    }

    line-height: 68px;
    text-transform: uppercase;
    color: #0b112a;
    margin-bottom: 44px;
    text-align: center;
  }

  &-wrapper {
    display: grid;
    grid-gap: 30px 31px;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  }

  &-btn {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 600;
    }

    line-height: 25px;
    padding: 7px 24px;
    display: block;
    margin: 48px auto auto;
    text-transform: capitalize;

    & a {
      color: $primary-color;
    }

    &:hover {
      & a {
        color: $secondary-color;
      }
    }
  }
}

.post {
  background-color: $primary-color;
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

  & img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-width: 585px;
    width: 100%;
  }

  &-info {
    padding: 10px 24px 22px 23px;
  }

  &-title {
    font: {
      family: $primary-font;
      size: 18px;
      weight: 700;
    }

    line-height: 25px;
    color: #131b3c;
  }

  &-date {
    font: {
      family: $primary-font;
      size: 12px;
      weight: 400;
    }

    line-height: 18px;
    letter-spacing: 0.02em;
    color: #828282;
  }

  &-text {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 400;
    }

    line-height: 26px;
    letter-spacing: 0.01em;
    color: #0B112A;
    margin-bottom: 3px;
    height: 78px;
    overflow: hidden;
  }

  &-links {
    display: flex;
    justify-content: end;
  }

  &-link {
    font: {
      family: $primary-font;
      size: 16px;
      weight: 400;
    }

    line-height: 25px;
    letter-spacing: -0.02em;
    color: #FF9900;

    &+& {
      text-decoration: underline;
      margin-left: 13px;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &-more {
    text-decoration: underline;
    margin-left: 13px;

    &:hover {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.top__page {
  position: absolute;
  width: 100%;
  z-index: 10;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
  }
}

.breadcrumbs {
  margin-right: 20px;

  font: {
    family: $primary-font;
    size: 10px;
  }

  line-height: 25px;
  letter-spacing: -0.02em;
  color: $primary-color;
  text-transform: capitalize;
  display: flex;

  &__place {
    font-weight: 300;
    margin-right: 3px;
  }

  &__link {
    font-weight: 500;
    color: inherit;
    cursor: pointer;
  }

  &__list {
    display: flex;
  }

  &__item {
    &+& ::before {
      content: '/';
    }
  }
}



.casino {
  background-image: url(../images/casino-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-top: 143px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 71px;
    position: relative;
  }

  &__start {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 18px 24px 27px 24px;
    background: linear-gradient(180deg, rgba(25, 33, 71, 0.4) 0%, rgba(38, 48, 96, 0.12) 100%);
    border-radius: 6px;

    &-top {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 9px;
    }

    &-logo {
      margin-right: 17px;
    }

    &-rev {
      position: absolute;
      right: 0;
    }

    &-banner {
      max-width: 744px;
      width: 100%;
      max-height: 422px;
      border-radius: 6px;
      margin-bottom: 22px;
    }

    &-btn {
      margin: 0 auto;
      width: 144px;
      height: 40px;
      border-radius: 10px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: $primary-color;
  }

  &__info {
    width: 388px;
    margin-left: 30px;
    padding: 20px 20px 32px;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(25, 33, 71, 0.4) 0%, rgba(38, 48, 96, 0.12) 100%);
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }

  &__item {
    width: 80px;
    height: 56px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.14) 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span {
      font: {
        family: $primary-font;
        size: 10px;
        weight: 400;
      }

      line-height: 10px;
      letter-spacing: 0.02em;
      width: 71px;
      text-align: center;
    }

    & img {
      margin-bottom: 3px;
    }

    &-num {
      font: {
        size: 18px;
        weight: 600;
      }

      line-height: 25px;
      text-align: center;
    }
  }

  &__bonus {
    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 1px;
      color: #FF9900;
    }

    &-name {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2px;
    }

    &-table-txt {
      font-family: $secondary-font;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: capitalize;

      & span {
        color: #FF9900;
        display: block;
      }
    }

    &-table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    &-row {
      display: flex;
      background: rgba(11, 17, 42, 0.4);
      border-radius: 1px;
      padding: 0px 6px 15px 9px;
    }

    &-col {
      display: flex;
      width: 100%;
    }

    &-claim {
      position: relative;
      padding-left: 12px;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 50px;
        top: 0;
        top: 10px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 1px;
      }
    }

    &-inf {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 12px;
      width: 100%;

      &+& {
        padding-left: 12px;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 50px;
          top: 0;
          top: 10px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 1px;
        }
      }

      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 3px;
      }

      &-company {
        margin-bottom: 7px;
      }

      &-apply {
        position: relative;
        right: -10px;
      }

      &-gift {
        position: relative;
        top: -2.11px;
      }
    }

    &-up {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.01em;
      margin-bottom: 3px;
    }

    &-btn {
      width: 74px;
      height: 19px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 10px;
      line-height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      text-transform: capitalize;
    }

    &-more {
      font-weight: 400;
      font-size: 10px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.02em;
      text-decoration-line: underline;
      text-transform: capitalize;
      color: #D1D5E9;
      text-align: center;
      margin: 0 auto;
    }

    &-txt {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &-list {
      position: relative;
      width: 322px;
      left: 20px;
      margin-top: 29px !important;
      list-style: disc !important;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01em;

      &::before {
        content: '';
        position: absolute;
        top: -12px;
        left: -22px;
        height: 1px;
        width: 345px;
        background: $primary-color;
        opacity: 0.1;
        border-radius: 1px;
      }
    }

    &-li+&-li {
      margin-top: 12px;
    }
  }
}

.line {
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  max-width: 997px;
  width: 100%;
}

.review {
  padding-top: 16px;
  background-color: #0B112A;

  &__block {
    &-left {
      margin-top: 56px;
    }

    &-title {
      font-weight: 900;
      font-size: 46px;
      line-height: 66px;
      text-transform: uppercase;
      color: $primary-color;
      margin-bottom: 20px;
    }

    &-text p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01em;

      &+p {
        margin-top: 12px;
      }
    }
  }

  &__more-btn {
    width: 173px;
    height: 41px;
    margin: 24px auto 52px;
    display: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.02em;
    background-color: transparent;
  }


  &__inner {
    display: flex;
  }

  &__atr {
    background: linear-gradient(180deg, rgba(25, 33, 71, 0.4) 0%, rgba(38, 48, 96, 0.12) 100%);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    position: relative;
    margin-top: 18px;
    margin-left: 30px;



    &-inner {
      padding: 23px 55px 48px 62px;
      width: 387px;
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #FF9900;
      margin-bottom: 27px;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: $tertiary-color;
      padding-right: 16px;
      max-width: 85px;
      width: 100%;
    }

    &-info {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: $primary-color;
      max-width: 169px;
      width: 100%;
    }

    &-row {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding-bottom: 16px;

      &+& {
        position: relative;
        padding-top: 8px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          width: 270px;
          height: 1px;
          border-radius: 1px;
          background-color: $primary-color;
          opacity: .1;
        }
      }
    }
  }
}

.recent-bonus {
  position: relative;
  padding-top: 89px;

  &__inner {
    background: linear-gradient(359.15deg, rgba(11, 17, 42, 0.7) 0.77%, rgba(11, 17, 42, 0) 99.31%), rgba(44, 51, 78, 0.8);
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    max-width: 996px;
    width: 100%;
    margin: 0 auto;
    padding: 42px 79px 49px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color;
    text-transform: capitalize;
    margin-bottom: 19px;
  }

  &__items {
    position: relative;
    left: 2px;
  }

  &__item {
    display: flex;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &+& {
        position: relative;
        margin-top: 42px;

        &::before {
          content: '';
          position: absolute;
          top: -21px;
          height: 1px;
          max-width: 834px;
          width: 100%;
          background-color: $primary-color;
          opacity: 0.1;
          border-radius: 1px;
        }
      }
    }

    &-img {
      width: 107px;
      height: 82px;
      margin-right: 15px;
    }

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: $tertiary-color;
      margin-bottom: 5px;
    }

    &-text {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $primary-color;
      margin-bottom: 8px;

      & span {
        display: block;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
    }

    &-time {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: $tertiary-color;
      opacity: 0.6;
      display: flex;
      align-items: center;
      margin-right: 54px;

      & img {
        margin-right: 3px;
      }
    }

    &-wager {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: $tertiary-color;
      opacity: 0.6;

      & span {
        color: $primary-color;
      }
    }

    &-btn {
      max-width: 165px;
      width: 100%;
      height: 39px;
      margin-left: 40px;
    }
  }
}

.popular-slotty {
  padding-top: 60px;
  position: relative;

  &::before {
    content: url(../images/ico/coins-ico.png);
    position: absolute;
    left: 97.53px;
  }

  &__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 66px;
    text-transform: uppercase;
    color: $primary-color;
    margin: 0 auto 34px;
    text-align: center;
    max-width: 837px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 70px;
  }

  &__inner {
    margin-bottom: 58px;
  }

  &__btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: $primary-color;
    width: 159px;
    height: 39px;
    display: block;
    margin: 0 auto;
    background-color: transparent;

    & a {
      color: inherit;
    }
  }
}

.slot__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 187px;
  height: 187px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 1px;
  box-shadow: 0px 6px 20px rgba(21, 22, 30, 0.3);

  &-img {
    max-width: 185px;
    height: 111px;

    img {
      max-width: 185px;
      width: 100%;
      height: 111px;
      border-radius: 1px 1px 0px 0px;
    }
  }

  &-info {
    width: 100%;
    height: 100%;
    padding: 10px 10px 13px;
  }

  &-title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 3px;
    color: #0B112A;
    max-width: 164px;
    width: 100%;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
  }

  &-comp {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #828282;
  }

  .star {
    display: flex;
    align-items: center;
  }
}

.comments {
  background-image: url(../images/comments-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 66px;
    text-transform: uppercase;
    color: $primary-color;
    text-align: center;
    margin-bottom: 44px;
  }

  &__inner {
    padding: 97px 0 57px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 74px;
  }

  &__item {
    position: relative;
    max-width: 1195px;
    width: 100%;
    padding: 43px 97px 54px 101px;
    background: linear-gradient(180deg, $primary-color 0%, rgba(255, 255, 255, 0.8) 100%);
    border-radius: 12px;

    &+& {
      margin-top: 30px;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;

      & img {
        width: 82px;
        height: 90px;
        border-radius: 12px;
        margin-right: 19px;
      }
    }

    &-prof {
      display: flex;
      justify-content: space-between;
      width: 100%;

      & img {
        margin-right: 19px;
      }

      &-name {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        align-items: center;
        color: #0B112A;
        margin-bottom: 1px;
      }

      &-date {
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        color: #6F7283;
        position: relative;
        left: 1px;
      }
    }

    &-star-block {
      display: flex;

      & span {
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #6F7283;
        margin-left: 15px;
      }
    }

    &-text p {
      position: relative;
      left: 102px;
      padding-right: 97px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01em;
      color: #000000;
      text-overflow: ellipsis;

      &+p {
        margin-top: 12px;
      }
    }

    &-like {
      position: absolute;
      bottom: 41px;
      right: 98px;
      background-color: transparent;
      border: none;

      &:hover {
        border: none;
      }
    }

    &-more {
      position: absolute;
      right: 49px;
      bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01em;
      background-color: transparent;
      color: #FF9900;
      text-decoration: underline;
      display: none;
      cursor: pointer;
    }
  }

  &-btn {
    width: 120px;
    height: 39px;
    display: block;
    margin: 0 auto;
    background-color: transparent;

    & a {
      color: inherit;
    }
  }

  &-more {
    display: none;
    width: 173px;
    height: 41px;
    margin: 0 auto;
    background-color: #FF9900;

    & a {
      color: inherit;
    }
  }
}

.jq-ry-container {
  padding: 0;
}

.contact {
  background-image: url(..//images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: 45% bottom;
  background-size: cover;
  padding: 72px 0 67px;

  &__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 66px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 45px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 928px;
    width: 100%;
    margin: 0 auto;
    padding: 74px 67px 80px 64px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) -12.28%, rgba(255, 255, 255, 0) 100%), rgba(11, 17, 42, 0.3);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;

    &-box {
      display: flex;

      &-left {

        & img {
          width: 100%;
          max-width: 288px;
          height: 71px;
          margin-top: 47px;
        }
      }

      &-right {
        width: 100%;
        margin-left: 50px;
      }
    }

    &-name {
      position: relative;

      &::after {
        content: url(../images/ico/profile-ico.svg);
        position: absolute;
        width: 14px;
        height: 14px;
        top: 49px;
        left: 13px;
      }
    }

    &-mail {
      margin-top: 36px;
      position: relative;

      &::after {
        content: url(../images/ico/mail-ico.svg);
        position: absolute;
        width: 14px;
        height: 14px;
        top: 49px;
        left: 13px;
      }
    }

    & label {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: $primary-color;
      margin-bottom: 10px;
    }

    &-input {
      &-name {
        position: relative;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 6px;
        width: 337px;
        height: 44px;
        border: none;
        padding-left: 35px;
        padding-right: 35px;
        text-overflow: ellipsis;
        color: #828282;

        &[type=text]::placeholder {
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.01em;
          color: #828282;
        }
      }

      &-profile {
        position: absolute;
      }


      &-mail {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 6px;
        width: 337px;
        height: 44px;
        border: none;
        position: relative;
        padding-left: 35px;
        padding-right: 35px;
        text-overflow: ellipsis;
        color: #828282;

        &[type=text]::placeholder {
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.01em;
          color: #828282;
        }
      }
    }

    &-textarea {
      max-width: 407px;
      width: 100%;
      height: 165px;
      padding: 7px 32px;
      text-overflow: ellipsis;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 6px;
      border: none;
      resize: none;
      margin-bottom: 67px;
      color: #828282;

      &[type=text]::placeholder {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: #828282;
      }
    }

    &-btn {
      width: 120px;
      height: 39px;
    }
  }
}

.reviews {
  background-image: url(../images/reviews-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-top: 151px;
  z-index: 5;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 81px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #FF9900;
    margin-bottom: 29px;
  }

  &__text-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    margin-bottom: 12px;

    .reviews__text+.reviews__text {
      margin-top: 12px;
    }
  }

  &__list {
    position: relative;
    left: 17px;

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01em;
      color: #FFBF60;
      margin-bottom: 13px;
    }

    &-li {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01em;
      list-style: disc;

      &+& {
        margin-top: 12px;
      }
    }
  }
}

.top__casino {
  margin-left: 92px;

  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color;
    text-align: center;
    max-width: 270px;
    margin: 0 auto 35px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 312px;
    padding: 49px 19px 22px 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) -12.28%, rgba(255, 255, 255, 0) 100%), rgba(20, 38, 102, 0.25);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
  }

  &-name {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 34px;
    line-height: 24px;
    letter-spacing: 0.01em;
    white-space: nowrap;
    text-transform: capitalize;
    margin-bottom: 26.95px;
  }

  &-img {
    max-width: 184px;
    width: 100%;
    margin-bottom: 19.67px;
  }

  &-star {
    margin-bottom: 7.72px;
  }

  &-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: $primary-color;
    margin-bottom: 15px;

    & span {
      font-weight: 700;
      letter-spacing: 0.02em;
    }
  }

  &-btn {
    max-width: 165px;
    width: 100%;
    height: 39px;
    border-radius: 10px;
    margin-bottom: 14px;
  }

  &-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: $primary-color;
  }

  &-read {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: $primary-color;
  }
}


.casino {
  &__list {
    background-image: url(../images/casino-list-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 68px;
    position: relative;

    &-inner {
      padding-bottom: 75px;
    }
  }

  &__top {
    margin-bottom: 41px;
  }

  &__top--title {
    font-weight: 900;
    font-size: 46px;
    line-height: 66px;
    text-transform: uppercase;
    color: $primary-color;
    text-align: center;
    margin-bottom: 45px;
  }

  &__top-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 897px;
    margin: 0 auto;

    .casino__card {
      margin: 0 20px 30px 0;
    }
  }

  &__list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 897px;
    margin: 0 auto;

    .casino__card {
      margin: 0 20px 30px 0;
    }
  }
}

.casino__card {
  position: relative;
  overflow: hidden;
  width: calc(20% - 16px);
  height: 206px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.125) -9.61%, rgba(255, 255, 255, 0) 100%), rgba(20, 38, 102, 0.25);

  &:hover {
    transform: scale(1.05);
    border: 0.767226px solid rgba(255, 255, 255, 0.5);
    border-radius: 3.14815px;
    box-shadow: (0px 0px 30px rgba(190, 218, 244, 0.2));

    .casino__card-btn {
      transform: translate(0, -50%);
      width: calc(100% - 12.8px);
      z-index: 1;
      background: #FF9900;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.125) -9.61%, rgba(255, 255, 255, 0) 100%), rgba(121, 136, 186, 0.1);
      filter: blur(4px);
    }
  }

  &-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    width: 148.58px;
    height: 37.15px;
    transform: translateY(300%);
    background: #FF9900;
  }

  &-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: $primary-color;
  }

  &-inner {
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 16px 14px;
    border: 0.731121px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;

  }

  &-name--title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: $primary-color;
    width: 130px;
    margin-bottom: 10.82px;
    text-overflow: ellipsis;
    text-align: center;
  }

  &-img {
    max-width: 116px;
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-bottom: 8.29px;

    img {
      max-width: 116px;
      width: 100%;
      height: 70px;
    }
  }

  &-info--title {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: $primary-color;
    margin-bottom: 6.38px;
    text-align: center;
  }

  &-info--prize {
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 10px;
    color: $primary-color;
    min-height: 25px;
    text-align: center;

    & span {
      color: #FF9900;
      // white-space: nowrap;
    }
  }

  &-info-terms {
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    text-align: center;
  }
}

.search__container {
  background: linear-gradient(180deg, #192147 0%, rgba(38, 48, 96, 0.7) 100%);
  box-shadow: 0px 6px 20px rgba(21, 22, 30, 0.4);
  border-radius: 6px;
  position: relative;
  max-width: 911px;
  width: 100%;
  margin: 0 auto 33px;
  height: 105px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: url(../images/casino-star.png);
    position: absolute;
    left: -30px;
    top: -32px;
  }

  .search {
    margin: 32px auto 31px;
  }
}

.win {
  padding: 34px 0 55px;

  &__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    max-width: 902px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 42px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & img {
      max-width: 389px;
      width: 100%;
    }
  }

  &__text {
    margin-left: 102.22px;

    & p {
      margin-top: 12px;
    }
  }
}

.faqs {
  background-image: url(../images/faqs-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 94px 0 108px;

  &__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 43px;

    & span {
      white-space: nowrap;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }
}

.faqs__item {
  border: none;
  text-align: left;
  text-transform: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% - 20px);
  min-height: 94px;
  padding: 0 43px 0 49px;
  margin-bottom: 30px;
  border-radius: 12px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 100%);

  &:hover {
    border: none;
  }


  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 94px;

    & img {
      margin-left: 20px;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #0B112A;
    max-width: 467px;
  }

  &-info {
    display: none;
    padding: 0 6px 26px 0;
  }

  &-text {
    position: relative;
    top: -12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000000;
  }
}

.faqs__item.open {
  .faqs__item-info {
    display: block;
  }

  img {
    content: url(../images/ico/arr-faqs-u-ico.png);
  }
}


.footer {
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 19% bottom;
  filter: grayscale(1);

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__row {
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 57px;
      margin-bottom: 59px;
    }

    &-comp {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & img {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-comp-mob {
      display: none;
    }

    &-social {
      display: flex;
      align-items: center;
      margin-left: 20px;

      & p {
        font: {
          family: $primary-font;
          size: 24px;
          weight: 600;
        }

        line-height: 30px;
        margin-right: 38px;
      }

      & a {
        position: relative;
        top: 4px;
      }

      & a+a {
        margin-left: 35px;
        margin-right: 12px;
      }
    }

    &-middle {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      .footer__logo {
        margin-left: 11px;
        margin-right: 15px;
      }
    }

    &-columns {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
    }

    &-column:last-child {
      margin-right: 120px;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #B8B8B8;
      padding-bottom: 30px;

      font: {
        family: $primary-font;
        size: 12px;
        weight: 600;
      }

      & ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
      }
    }
  }

  &__link {
    font: {
      family: $primary-font;
      size: 14px;
      weight: 400;
    }

    line-height: 26px;
    letter-spacing: 0.02em;

    & a {
      cursor: pointer;
      color: $primary-color;
    }

    &-title {
      font: {
        family: $primary-font;
        size: 16px;
        weight: 700;
      }

      line-height: 25px;
      text-transform: capitalize;
      margin-bottom: 6px;
    }

    &-bott {
      white-space: nowrap;
      margin-right: 25px;

      & a {
        color: #B8B8B8;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & span {
    height: 1px;
    width: 100%;
    background: #B8B8B8;
    margin-bottom: 28px;
  }

}

@import 'media';